.container__fps-entry {
    flex-direction: row;
    padding-right: 5px;
}

.heading__fps-header {
    color: white;
}

.heading__fps-value {
    flex-grow: 1;
    -unity-text-align: upper-right;
    margin-left: 5px;
}

.container__fps-entries {
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.9);
    padding: 5px;
    margin: 10px;
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
