.container__stats-entries {
    flex-direction: column;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.9);
    padding: 3px 8px;
    min-width: 220px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
