**/TMP_NO_VERSIONING/*
**/TMP_NO_VERSIONING*

**/Plugins/Editor/JetBrains*
**/node_modules/**

.yamato/unfolded/**
.Editor/**
artifacts/**
build/**
.build_script/**
node_modules/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
.vs/
.vscode/

[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uilds/

*.csproj
*.csproj.meta
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.keystore
ReferenceProject/obj
ReferenceProject/UserSettings
!Native~
!**/Native~/**/*.sln
Native~/**/x64/

#Fastlane
ReferenceProject/builds/**
ReferenceProject/.idea/*
ReferenceProject/Assets/Unity Cloud/Resources
ReferenceProject/Assets/Unity Cloud/Resources.meta
ReferenceProject/Assets/Unity Cloud.meta

ReferenceProject/Assets/Samples
ReferenceProject/Assets/Samples.meta
ReferenceProject/UIElementsSchema
