.metadata-display-text__parameter-key {
    padding-right: var(--appui-alias-control-gap-md);
    width: 120px;
}

.metadata-display-text__parameter-value {
    flex-shrink: 1;
}

.metadata-display-container__parameters {
    margin-top: 8px;
    margin-bottom: 8px;
}

.metadata-display-list-element__parameter {
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: flex-start;
    flex-direction: row;
    min-height: 20px;
}

.metadata-display-text__noselection {
    margin-top: 10px;
    margin-bottom: 10px;
    -unity-text-align: middle-center;
}
