.container__link-sharing-content {
    width: 250px;
}

.button__generate-url {
    margin-bottom: 5px;
}

.container__open-url-section {
    flex-direction: row;
    align-items: center;
}

.text__url {
    margin-right: 10px;
    width: 70%
}

.button__open-url {
    flex-grow: 1;
}