.container__profile {
    margin: 5px 10px 10px;
    min-width: 200px;
    align-items: center;
}

.heading__profile-username {
    margin-bottom: 10px;
}

.button__profile {
    align-items: center;
}