.container__instruction-keys {
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    flex-direction: column;
}

.text__instruction-description {
    margin-top: 5px;
    -unity-text-align: upper-center;
}

.container__instruction_block {
    margin-left: 8px;
    margin-right: 8px;
}

.button__instruction {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
